.primayHeader {
    background-color: #34424e;
}


.primaryHeader__heading__image{
    text-align: center;
    width: 250px;
    height: 50px;
    margin: 12px;

}

.primaryHeader__uname{
    color: #fff;
    font-size: 16px;
    font-weight: 600;

    margin: 28px;
}