.layout__col2__subcol2 {
    width: 170px;
    height: 400px;
    background-color: #eaf2fa;
}

.imageWrapper {
    height: 200px;
    width: 170px;
}

.html5Image,
.css3Image {
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 15px 10px;
}